html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
.hero-info{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px 0;
}

.header,
.hero{
    padding: 0 250px;
}

.header ul{
    display: flex;
    gap: 15px;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1F2937;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-image img{
    width: 400px;
}

.hero-info{
    flex: 0 1 auto;
    width: 600px;
}

.hero-content{
    padding-bottom: 15px;
}

.hero-info button{
    background-color: #3882F6;
    width: 100px;
    border-radius: 5px;
    padding:5px;
    border: none;
}

.hero-info a {
    color: white;
}

.cards{
    display: flex;
}

.card-image{
    border-style: solid;
    border-color: blue;
    width: 100px;
    height: 100px;
}